<div class="grid-container">
  <div class="grid-row">
    <form class="usa-form usa-form--large desktop:margin-left-9">
        <fieldset class="usa-fieldset">
            <legend class="usa-legend">NAICS Dashboard</legend>
            <label class="usa-label" for="title">Keyword</label>
            <input class="usa-input" id="title" name="title" type="text" placeholder="Transportation">

            <label class="usa-label" for="first-name">Set Asides</label>
            <input class="usa-input" id="first-name" name="first-name" type="text" required aria-required="true" placeholder="SBA">
        </fieldset>
        <button class="usa-button usa-button--outline margin-y-3 justify-content-center" type="submit">Search</button>
    </form>
  </div>

</div>
