<div class="grid-container">
    <div class="grid-row">
        <div class="sds-card tablet-lg:grid-col-5 margin-105">
            <div class="sds-card__header sds-card__header--left sds-card__header--base">
                <h2 class="sds-card__title ">Use Your Profile</h2>
            </div>
            <div class="sds-card__body display-flex flex-column">
                <span>You are following 31 Contract Opportunities</span>
                <span>You are registered with 8 NAICS Codes</span>
                <span>You have 28 awards</span>
            </div>
            <div class="sds-card__footer">
                <button class="usa-button usa-button--outline margin-x-auto" [routerLink]="['/dashboard']">Use My Profile Information</button>
            </div>
        </div>
        <div class="sds-card tablet-lg:grid-col-5 margin-105">
            <div class="sds-card__header sds-card__header--left sds-card__header--base">
                <h2 class="sds-card__title ">Use Your NAICS Search History</h2>
            </div>
            <div class="sds-card__body">
                <span>You have 5 searches in your NAICS Dashboard</span>
            </div>
            <div class="sds-card__footer">
                <button class="usa-button usa-button--outline margin-x-auto" [routerLink]="['/dashboard']">Use My NAICS Search History</button>
            </div>
        </div>
        <div class="sds-card tablet-lg:grid-col-5 margin-105">
            <div class="sds-card__header sds-card__header--left sds-card__header--base">
                <h2 class="sds-card__title ">Explore the NAICS Hierarchy</h2>
            </div>
            <div class="sds-card__body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed augue lacus viverra vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Sed augue lacus viverra vitae.</p>
            </div>
            <div class="sds-card__footer">
                <button class="usa-button usa-button--outline margin-x-auto" [routerLink]="['/dashboard']">Start a New Search</button>
            </div>
        </div>
    </div>
</div>
