<div class="grid-container">
  <div class="display-flex flex-column">
    <h1>NAICS Code</h1>
    <p>The North American Industry Classification System (NAICS) is the standard used by Federal statistical agencies in classifying business establishments for the purpose of collecting, analyzing, and publishing statistical data related to the U.S. business economy. Click the Get Started button below to find a specific NAICS Code.</p>
    <div class="display-flex flex-column flex-align-center margin-y-3">
      <button class="usa-button usa-button--secondary" [routerLink]="['directory']">Get Started</button>
    </div>
  </div>
</div>
